 
*.class
*.log
*.swp
*.iml

# sbt specific
.cache
.history
.lib/
.DS_Store
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
*-bin/

# IDE specific
.scala_dependencies
.worksheet
.idea/
.metadata/
.vscode/
